# Aula 4

In [6]:
import pandas as pd
import datetime

In [3]:
dados = pd.read_csv('https://raw.githubusercontent.com/Pedro-correa-almeida/Bootcamp_alura/main/Modulo_2/dados/dados_aula3')
dados.head()

,uf,2008/Fev,2008/Mar,2008/Abr,2008/Mai,2008/Jun,2008/Jul,2008/Ago,2008/Set,2008/Out,...,2020/Jun,2020/Jul,2020/Ago,2020/Set,2020/Out,2020/Nov,2020/Dez,2021/Jan,2021/Fev,2021/Mar
0,Rondônia,2931283.42,1541682.52,1525314.96,1645953.84,1406150.68,3065279.01,3231494.61,3117178.63,3068430.44,...,9246097.96,11824687.13,11733307.76,10201985.14,7955139.45,9357946.29,8880836.55,9266014.59,7730597.04,11023309.47
1,Acre,1497206.26,1794028.48,1730469.42,1819443.92,1828496.00,2511754.59,2089107.14,2275708.53,1923886.57,...,3045245.80,3915193.20,3640142.82,3391242.21,4044321.44,3276590.10,3696997.31,3715723.12,3538427.92,4077045.92
2,Amazonas,7118990.57,8196635.49,8259378.42,7831399.90,8477273.62,9368858.72,9352532.70,9363099.35,8618318.83,...,21129394.43,19769460.14,18059931.43,17841015.63,16408315.10,19895617.91,17765167.69,21430289.17,25917134.55,22032176.22
3,Roraima,777939.31,718688.03,839994.39,862347.96,832440.66,996693.09,894271.18,910424.17,1191770.32,...,3401864.29,3015488.30,2826486.18,2928043.91,3090313.73,3621031.05,3454460.94,3266928.47,3519773.73,3985530.08
4,Pará,19553758.20,21937342.70,20842829.69,23249952.88,23240687.56,24002223.56,23341218.03,25172261.32,24011712.48,...,42192745.99,40804126.43,44385715.88,36820249.47,36965931.34,39004315.80,38015145.79,38354682.46,37688314.23,33276392.89

## Desafio 01: Estudar a documentação datetime do Python

O datetime é um módulo do python com diversas funcionalidades a fim de solucionar problemas relacionados a datas, uma das partes que eu achei mais interessante é como expressar a data com o fuso horário, que é um dos maiores problemas a lidar a hora quando se olha dados de diversos lugares, além disso é um problema que pode passar despercebido, para isso o datetime possui uma função 'timezone' que é possível criar um fuso horário e passar dentro de outra função 'datetime' para criar uma data com o fuso horário registrado, e a partir disso fazer comparações nas datas de diversos países e continesntes distintos.

fonte: [datetime](https://docs.python.org/3/library/datetime.html)

## Desafio 02: realizar o processo contrário do melt, voltar atrás partindo do mensal_aberto chegando no mensal.

In [5]:
dados.melt(id_vars='uf', var_name='data', value_name='gasto')

                      uf      data         gasto
0               Rondônia  2008/Fev  2.931283e+06
1                   Acre  2008/Fev  1.497206e+06
2               Amazonas  2008/Fev  7.118991e+06
3                Roraima  2008/Fev  7.779393e+05
4                   Pará  2008/Fev  1.955376e+07
...                  ...       ...           ...
4261   Rio Grande do Sul  2021/Mar  1.301552e+08
4262  Mato Grosso do Sul  2021/Mar  2.516820e+07
4263         Mato Grosso  2021/Mar  1.961103e+07
4264               Goiás  2021/Mar  4.559269e+07
4265    Distrito Federal  2021/Mar  3.183192e+07

[4266 rows x 3 columns]